.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 25px;
    background-color: #f8f8f6;
    color: #eb7f13;
    border-bottom: 0.5px solid #eb7f13;
}
.header h2{
    margin: 0;
    color: #633b1e;
}
.header-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.header-title{
    font-size: 22px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    color: #633b1e;
}
.header-itens{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.header-nav{
    display: flex;
    gap: 35px;
    padding-left: 30px;
}
.header-nav a{
    font-family: "Abel", sans-serif;
    text-decoration: none;
    font-size: 18px;
    color: #666561;
}
.header-bookmark-icon{
    color: #633b1e;
    cursor: pointer;
}
.header-user{
    display: flex;
    align-items: center;
    gap: 10px;
}
.header-user-icon{
    color: #633b1e;
    width: 28px;
    height: 28px;
    cursor: pointer;
}